.searchBox button {
    background: none;
    border: 0;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 2px #ffffff;
    color: #000000;
    font-size: smaller;
    font-weight: 600;
    margin: 1em;
    padding: 1em 2em;
    text-align: center;
    text-transform: capitalize;
    position: relative;
    vertical-align: middle;
    outline: none;

}
button::before, button::after {
    box-sizing: border-box;
    content: '';
    position: absolute;
}

.draw {
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
}
.draw::before, .draw::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
}
.draw::before {
    top: 0;
    left: 0;
}
.draw::after {
    bottom: 0;
    right: 0;
}
.draw:hover {
    color: #da1400;
}
.draw:hover::before, .draw:hover::after {
    width: 100%;
    height: 100%;
}
.draw:hover::before {
    border-top-color: #99CCFF;
    border-right-color: #99CCFF;
    -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
    border-bottom-color: #99CCFF;
    border-left-color: #99CCFF;
    -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}