.searchDiv {
	display: flex;
	width: 1000px;
	height: 52px;
	border-radius: 8px;
	background-color: rgb(43, 43, 43);
	/*水平居中，垂直1/4*/
	position: absolute;
	text-align: center;
	left:50%;
	top: 25%;
	margin-left: -500px;
}

.searchInput {
	width: 900px;
	height: 52px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	font-size: 18px;
	letter-spacing: 1.5px;
	color: aliceblue;
	outline: none;
	border-style:none;
	background-color:transparent;
}

.searchButton {
	width: 75px;
	height: 52px;
	outline: none;
	background-color:transparent;
	border-style: none;
}

.searchImg {
	width: 34px;
	height: 34px;
	padding-top: 8px;
	padding-bottom: 10px;
}